<!DOCTYPE html>
<html>
   <% include head %>
  <body>
    <% include header %>
    <div id="content">
        <article>
          <%- content %>
          <time pubdate='pubdate' datetime='<%= datetime %>'><%= pubdate %></time>
        </article>
    </div>
    <% include footer %>
  </body>
</html>
